body{
    background-color: #DAE2E4;
}
.logo{
   margin-bottom: -80px;
}
.form-control{
    border: solid 2px black;
    height: 44px;
    width: 401px;

}
.btn-default{
    background-color: #608790;
    color: white;
    height: 44px;
}
.navbar{
    background-color: #A64044;
}
.nav-justified{
    background-color: #DAE2E4;
    height: 70px;
    width: 100%;
}
.nav-link{
    margin-top: 10px;
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: black;
}
.home{
    margin-left: 40px;
}
.media{
    background-color: white;
}

.media-body{
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    background-color: white;
}
.banner{
    width: 109%;
    margin-top: 40px;
    margin-left: -46px;
    margin-bottom: 40px;
}
p{
    text-align:left;
    font-family: 'Open-Sans',sans-serif;
    font-size: 18px;
    color: black;
}
.about{
    margin-top: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    font-weight: 700px;
    color: black;
}
.footer{
    margin-bottom: 30px;
}
.col{
    border: none;
    text-align: center;
}
.bottom{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-decoration: none;
}
h6{
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;  
}
a:hover{
    color: white;
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}
li:hover{
    background-color: #608791;
}

